body{
  background-color: #e7d9ea;
  text-align: center;
  margin-top: 100px;
}

h1{
  color: #8b5e83;
}

label{
  font-style: italic;
  font-size: 25px;
}
li{
  font-style: italic;
  font-size: 25px;
}
header ul{
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 10px;
    position: fixed;
}
header li a{
    display: block;
    color: #8b5e83;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}
